<div class="social">
  <div style="display: inline-block;"><!--vk-->
  <script type="text/javascript"><!--
  document.write(VK.Share.button({url: "http://kruglendar.ru/"},{type: "round", text: "Нравится!", image: "http://kruglendar.ru/sites/default/files/repost.png"}));
  --></script>
  </div>
  
  <!--pinterest-->
  <div class="pinterest-wrapper">
  <a href="//ru.pinterest.com/pin/create/button/?url=http%3A%2F%2Fkruglendar.ru%2F&media=http%3A%2F%2Fkruglendar.ru%2F&description=Pin-pin-pin" data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
  <!-- Please call pinit.js only once per page -->
  <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
  </div>
  
  <!--twiter-->
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://kruglendar.ru/" data-via="z_o_r" data-hashtags="calendar">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  
  <!--Google-->
  <!--<div id="content">-->
    <!--<div class="g-plusone"></div>-->
  <!--</div>-->
  <!--<script>-->
    <!--gapi.plusone.go("content");-->
  <!--</script>-->
</div>
