body{
	text-align: center;
  background-color: #BEEB9F;
}
svg{
  background-color: #fff;
}
h1{
  display: none;
	margin-top: 1em;
	color: #00A388;
}
.extra{
  text-transform: uppercase;
}
.calendar-shape{
	/*fill: #79BD8F;*/
	fill: none;
	stroke: #00A388;
	stroke-width: 0.5;
}
.circle{
  display: none;
	/*fill: #FFFF9D;*/
}
.date{
	font-size: 2;
}
.date text{
  /*font-family: "Sorren Ex SemiBold";*/
  /*font-family: "Antonio";*/
  /*font-family: "Higherup";*/
  /*font-family: "HFF Jammed Pack";*/
  /*font-family: "Xenophobia";*/
  /*font-family: "Varicka";*/
  /*should be declared in js to measure string display length*/
	y: 2;
}
.date text.weekend{
  /*fill: red;*/
  font-weight: bold;
}
