/* Styles apply to web page only and don't impact on svg */

body{
  background: teal;
}

.customizer {
  font-family: Arial, sans-serif;
  margin: 2em 0;
}

.customizer .field{
  display: block;
  margin-bottom: 1em;
}

.customizer .field-webfont{
  display: none;
}

.customizer label {
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  text-align: right;
  width: 160px;
}

.customizer input[type="submit"]{
  margin-left: 170px;
}

@media print {
  .customizer {
    display: none;
  }
}
