$font-family: Roboto Slab, Helvetica, sans-serif;
$font-family-sans: Roboto, $font-family;
$font-family-condensed: Roboto Condensed, $font-family;
$font-size: 18px;

$container-width: 600px;

$color-blue: #0195d5;
